.news{
    margin-top: 100px;
}
.header-news{
    margin: 0 0 50px;
}
.right-header-news h3{
    color: #026937;
    font-weight: 900;
    font-size: 1.2rem;
}
.right-header-news p{
    font-size: 0.8rem;
    font-style: italic;
}
.item-news h3{
    color: #026937;
    font-weight: 900;
    font-size: .8rem;
    margin-top: 15px;
}
.right-news h3{
    color: #c20212;
    font-weight: 900;
    
}
.left-detail{
    padding: 50px 20px;
    border: #026937 1px solid;
    border-radius: 10px;
}
.left-detail h3{
    color: #c20212;
    font-weight: 900;
    padding: 0 0 20px ;
    border-bottom: 1px solid #c20212;
    margin-bottom:20px ;
}
.left-detail img{
    border-radius: 10px;
}
.left-detail h6{
    font-style: italic;
    font-size: 14px;
    margin-top: 50px;
    word-spacing: 4px;
}