.header-text-product {
    display: flex;
    justify-content: space-between;
    padding: 3px 30px;
    /* margin-top: 5px; */
}
.header-text-product p {
    color: #128277;
    font-weight: 800;
    height: 77px;
    margin-bottom: 25px;
}